@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe ui', 'PT Serif', serif;
}
html{
    font-size: 60%;
}
body{
    height: 100vh;
    display: grid;
    padding: 1.5rem;
    place-items: center;
    background-color: rgb(248, 188, 76);
    background-image: linear-gradient(40deg,#fec8a0 30%,rgb(251, 244, 235) 100%);
}

#nav-bar {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    position: absolute;
    background: #fff;
}

#nav-bar .back-btn {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    padding: 1rem 2rem; 
    border-radius: .5rem;
    transition: none;
    background-color: #d49e74;
}

#nav-bar .back-btn:hover {
    color: #fff;
}
#nav-bar .back-btn:hover svg {
    fill: #fff;
}

#nav-bar .back-btn svg {
    width: 15px;
    height: 15px;
    margin-right: .5rem;
}

.quiz-section{
    width: 100%;
    height: auto;
    max-width: 550px;
    border-radius: 1rem;
    background: #fff;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.225);
}

.quiz-section hr {
    border: 2px solid #9999994c;
}

#question{
    font-size: 2.5rem;
    padding: 2rem 3rem;
}
ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 4rem 3rem;
}
li{
    list-style: none;
    width: 100%;
    border-radius: .5rem;
    border: 0.1rem solid rgb(210, 210, 210);
    padding: 1.5rem 1rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
label{
    cursor: pointer;
    font-size: 1.7rem;
    padding-left: 0.5rem;
}
input[type="radio"]{
    width: 15px;
    height: 15px;
    margin-right: .5rem;
}
input[type="radio"]:checked{
    background-color: rgb(233, 195, 113);
    border-color: orange;
}
.btn{
    padding: 2rem 5rem;
    text-align: center;
}
button{
    padding: 0 5rem;
    height: 5rem;
    border: none;
    border-radius: 5rem;
    background-color: #eeb283;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.4s;
}
button:hover{
    /* height: 4rem; */
    text-align: center;
    background-color: #d49e74;

}
.result{
    width: 100%;
    height: auto;
    padding: 5rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 30px rgb(105, 76, 8);
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    align-items: center;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.225);
}

.result h3,.score{
    font-size: 3.4rem;
}
.result p{
    font-size: 2rem;
}

/* 

@media (min-width: 200px) and (max-width: 450px) {
    .quiz-section{
        width: 95%;
    }
    ul{
        padding: 2rem 1rem;
    }
}
@media (min-width: 451px) and (max-width: 600px) {
    .quiz-section{
        width: 90%
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    .quiz-section{
        width: 80%;
    }
    #question{
        font-size: 4rem;
        padding: 3rem 5rem;
    }
    ul{
        gap: 3.5rem;
    }
    button{
        font-size: 3rem;
    }
    label{
        font-size: 4rem;
        padding-left: 2.5rem;
    }
} */