@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
:root {
    --body-bg: linear-gradient(135deg, #eeeeee 0%, #f5e4da 100%);
    --msger-bg: #fff;
    --left-msg-bg: linear-gradient(to right, #f5e4da, #eeb283);
    --right-msg-bg: #d0d0d0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: "Baloo 2", cursive;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 386px;
    margin: 25px 10px;
    border-radius: 10px;
    height: calc(100% - 100px);
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background: #eeb283;
    color: #666;
}

.msger-header-title {
    display: flex;
    align-items: center;
}

.msger-header-title img {
    height: 2.5rem;
    width: auto;
}

.msger-header-title p {
    letter-spacing: 1px;
    font-size: 1.8rem;
    font-weight: bold;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 350px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    color: aliceblueIndia;
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #000;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    background: #f5e4da;
    border-radius: 0px 0px 10px 10px;
}

.msger-inputarea * {
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.msger-send-btn {
    margin-left: 10px;
    background: transparent;
    color: #1d0915;
    font-size: 1.5rem;
    cursor: pointer;
}

.msger-chat {
    background-color: #fcfcfe;
}


/* ########################################### */


/*                 Global                      */


/* ########################################### */

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(0, 0, 0);
    color: #FEFEFE;
}

a {
    color: #FF0042;
    font-weight: bolder;
    text-decoration: none;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}


/* ########################################### */


/*           Forums.html                       */


/* ########################################### */

.container {
    margin: 20px;
    padding: 20px;
}

.subforum {
    margin-top: 20px;
}

.subforum-title {
    background-color: #292B2E;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.subforum-row {
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column {
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: #111314;
}

.subforum-description * {
    margin-block: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i {
    font-size: 45px;
}

.subforum-devider {
    display: none;
}


/* For the smartphones */

@media screen and (max-width: 460px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
    .subforum-row {
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }
    .subforum-devider {
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }
}


/* For the tablets */

@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container {
        margin: 15px;
        padding: 15px;
    }
    .subforum-row {
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }
    .subforum-icon i {
        font-size: 35px;
    }
    html {
        font-size: 14px;
    }
    h1 {
        font-size: 16px;
    }
}


/*   Header Section    */

header {
    margin-inline: 10px;
}


/* Nav Bar styles */

.navbar {
    display: flex;
    align-items: center;
}

.navigation {
    background-color: #52057b;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 10px;
}

.close-icon i {
    font-size: 60px;
    float: left;
    cursor: pointer;
}

.nav-list {
    list-style-type: none;
    overflow: hidden;
}

.nav-item a {
    float: right;
    display: block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color: #fff;
}

.nav-item a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

.bar-icon {
    font-size: 60px;
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family: aquire;
    src: url(aquire.otf);
}

.brand {
    font-size: 60px;
    display: inline-block;
    font-family: aquire;
}


/*Navbar for the smartphones*/

@media screen and (max-width: 460px) {
    .navigation {
        max-height: auto;
    }
    .close-icon i {
        font-size: 30px;
    }
    .nav-item a {
        float: left;
        display: inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }
    .bar-icon {
        font-size: 30px;
    }
    .brand {
        font-size: 20px;
    }
}


/* Search Box styles */

.search-box {
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #52057b;
}

.search-box select {
    padding: 10px;
}

.search-box input {
    padding: 10px;
}

.search-box button {
    padding: 10px;
    background-color: #fff;
    color: #000000;
}

.search-box button:hover {
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}


/* search box for smrtphones */

@media screen and (max-width: 460px) {
    .search-box input,
    .search-box button,
    .search-box select {
        min-width: 300px;
        margin-top: 5px;
    }
}


/* forum info Styling */

.forum-info {
    padding: 20px;
    background-color: #111314;
}

.chart {
    font-size: 20px;
    font-weight: bold;
}


/* Footer Styling */

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #52057b;
    display: block;
    text-align: center;
}


/* ########################################### */


/*            posts.html                       */


/* ########################################### */


/* posts table's head  */

.table-head {
    display: flex;
}

.table-head div {
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status {
    flex: 5%;
}

.table-head .subjects {
    flex: 70%;
}

.table-head .replies {
    flex: 10%;
}

.table-head .last-reply {
    flex: 15%;
}


/* posts table's body  */

.table-row {
    display: flex;
}

.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-reply {
    padding: 5px;
    margin: 2px;
    background-color: #131415;
}

.table-row .status {
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects {
    flex: 70%;
}

.table-row .replies {
    flex: 10%;
}

.table-row .last-reply {
    flex: 15%;
}


/* navigation path*/

.navigate {
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a {
    color: #fff;
}

.navigate a:hover {
    color: #FF0042;
    font-weight: bolder;
}


/* Pagination*/

.pagination {
    padding: 20px;
    font-size: 15px;
}

.pagination a {
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover {
    opacity: 0.5;
}

.note {
    background-color: #111314;
    padding: 20px;
    display: block;
}

.note span {
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */


/*            detail.html                      */


/* ########################################### */

.head {
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors {
    flex: 20%;
}

.content {
    flex: 80%;
}

.body {
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username {
    font-size: 20px;
}

.body .authors img {
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button {
    border: none;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}


/* comment section */

.comment-area {
    margin-bottom: 50px;
}

.comment-area textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input {
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover {
    border: solid 1px #000000;
}